$colors: (
  navbar: #eeeeee,
  primary: #707070,
  accent: #e28d1e,
  accent-inquire: #cd375c,
  product-section: #201e1c,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
