$colors: (
  navbar: #eeeeee,
  primary: #707070,
  accent: #e28d1e,
  accent-inquire: #cd375c,
  product-section: #201e1c,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  display: flex;
}
header {
  background: color(navbar);
  display: flex;
  justify-content: center;
  padding: 7px;
  .container {
    justify-content: space-between;
    nav {
      display: none;
    }
    .logo-container {
      h1 {
        color: color(primary);
        font-size: 1.7em;
        span {
          color: color(accent);
        }
      }
    }
    img {
      cursor: pointer;
    }
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#main {
  margin: 4em 0;
  .container {
    flex-wrap: wrap;
    justify-content: space-around;
    .main-image {
      width: 260px;
      margin-bottom: 1em;
      img {
        max-width: 100%;
        min-width: 100%;
      }
    }
    .main-title-text {
      margin: 1em;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        color: color(primary);
        line-height: 1.2em;
        margin-bottom: 0.3em;
        span {
          color: color(accent);
        }
      }
      p {
        text-align: center;
        font-style: italic;
        color: rgb(37, 37, 37);
        width: 300px;
      }
    }
  }
}

section#mid {
  background: color(product-section);
  .container {
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    padding: 5em 0;
    .section-title {
      color: white;
      background: color(accent);
      height: 70px;
      width: 400px;
      border-radius: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -30px;
      h3 {
        text-transform: uppercase;
      }
    }
    .product {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      .product-card {
        margin: 2em 2em;
        h4 {
          margin-top: 1em;
          font-size: 1.2em;
          color: color(accent);
          font-weight: 400;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
        }
      }
    }
    a {
      background: color(accent-inquire);
      color: white;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      font-weight: 700;
      height: 70px;
      width: 400px;
      border-radius: 50px;
      position: absolute;
      bottom: -30px;
    }
  }
}

section#bottom {
  margin-top: 70px;
  margin-bottom: 70px;
  .container > * {
    margin: 1.4em 0;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    h4 {
      font-size: 3em;
      text-align: center;
      color: color(primary);
      line-height: 1.2em;
      // margin: 1.5em 0;
      // flex-grow: 1;

      span {
        color: color(accent);
        font-size: 1.2em;
      }
    }
    .contact-details {
      text-align: center;
      // flex-grow: 1;
      h5 {
        font-size: 2em;
        color: color(primary);
        text-transform: uppercase;
      }
    }
    h6 {
      font-size: 2em;
      color: color(primary);
      text-align: center;
      font-style: italic;
      font-weight: 400;
      &::before {
        content: '"';
        margin-right: 5px;
      }
      &::after {
        content: '"';
        margin-left: 5px;
      }
    }
  }
}

footer {
  height: 100px;
  background: color(product-section);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .copy-right > * {
      font-size: 0.6em;
    }
    .copy-right {
      display: flex;
      flex-direction: column;
      align-items: center;

      h5 {
        font-size: 2em;
      }
      p {
        text-align: left;
      }
    }
    .social-icons > * {
      margin: 1em 1em;
    }
    .social-icons {
      display: flex;
      justify-content: space-around;
    }
  }
}
