* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

header {
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px;
}

header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container nav {
  display: none;
}

header .container .logo-container h1 {
  color: #707070;
  font-size: 1.7em;
}

header .container .logo-container h1 span {
  color: #e28d1e;
}

header .container img {
  cursor: pointer;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#main {
  margin: 4em 0;
}

section#main .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#main .container .main-image {
  width: 260px;
  margin-bottom: 1em;
}

section#main .container .main-image img {
  max-width: 100%;
  min-width: 100%;
}

section#main .container .main-title-text {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#main .container .main-title-text h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  color: #707070;
  line-height: 1.2em;
  margin-bottom: 0.3em;
}

section#main .container .main-title-text h2 span {
  color: #e28d1e;
}

section#main .container .main-title-text p {
  text-align: center;
  font-style: italic;
  color: #252525;
  width: 300px;
}

section#mid {
  background: #201e1c;
}

section#mid .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 3em 0;
}

section#mid .container .section-title {
  color: white;
  background: #e28d1e;
  height: 70px;
  width: 400px;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -30px;
}

section#mid .container .section-title h3 {
  text-transform: uppercase;
}

section#mid .container .product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#mid .container .product .product-card {
  margin: 2em 2em;
}

section#mid .container .product .product-card h4 {
  margin-top: 1em;
  font-size: 1.2em;
  color: #e28d1e;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#mid .container a {
  background: #cd375c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  height: 70px;
  width: 400px;
  border-radius: 50px;
  position: absolute;
  bottom: -30px;
}

section#bottom {
  margin-top: 4em;
  margin-bottom: 4em;
}

section#bottom .container > * {
  margin: 1.4em 0;
}

section#bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#bottom .container h4 {
  font-size: 3em;
  text-align: center;
  color: #707070;
  line-height: 1.2em;
}

section#bottom .container h4 span {
  color: #e28d1e;
  font-size: 1.2em;
}

section#bottom .container .contact-details {
  text-align: center;
}

section#bottom .container .contact-details h5 {
  font-size: 2em;
  color: #707070;
  text-transform: uppercase;
}

section#bottom .container h6 {
  font-size: 2em;
  color: #707070;
  text-align: center;
  font-style: italic;
  font-weight: 400;
}

section#bottom .container h6::before {
  content: '"';
  margin-right: 5px;
}

section#bottom .container h6::after {
  content: '"';
  margin-left: 5px;
}

footer {
  height: 170px;
  background: #201e1c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .container .copy-right > * {
  font-size: 0.6em;
}

footer .container .copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .copy-right h5 {
  font-size: 2em;
  cursor: pointer;
}

footer .container .copy-right h5:hover {
  color: #e28d1e;
}

footer .container .copy-right p {
  text-align: left;
}

footer .container .social-icons > * {
  margin: 1em 1em;
}

footer .container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .social-icons a svg {
  fill: white;
}

footer .container .social-icons a svg:hover {
  fill: #e28d1e;
  top: 1px;
  position: relative;
}

@media only screen and (min-width: 617px) {
  section#bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

@media only screen and (min-width: 806px) {
  section#main .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
  }
  section#main .container .main-title-text {
    margin: 0;
  }
}

@media only screen and (min-width: 890px) {
  header {
    padding: 1em 0;
  }
  header .container img {
    display: none;
  }
  header .container .logo-container {
    margin-right: 30px;
  }
  header .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container nav img {
    display: none;
  }
  header .container nav ul > * {
    margin: 0 10px;
  }
  header .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container nav ul li:nth-child(-n + 2) {
    width: 60px;
  }
  header .container nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 109px;
  }
  header .container nav ul li a {
    color: #707070;
    font-weight: 600;
    text-transform: uppercase;
  }
  header .container nav ul li a:hover {
    color: #e28d1e;
    font-weight: 800;
    position: relative;
  }
  header .container nav .visit {
    color: #e28d1e;
    font-weight: 500;
    font-size: 0.85em;
    text-transform: uppercase;
    border: 2px solid #e28d1e;
    padding: 0.7em;
    border-radius: 30px;
  }
  section#main .container .main-title-text {
    text-align: left;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  section#main .container .main-title-text h2 {
    font-size: 2.5em;
    text-align: left;
    width: 100%;
  }
  section#main .container .main-title-text p {
    text-align: left;
    width: 400px;
  }
  section#main .container .main-image {
    width: 290px;
    max-width: 290px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1100px) {
  section#main .container .main-title-text {
    text-align: left;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  section#main .container .main-title-text h2 {
    font-size: 3em;
    text-align: left;
    width: 100%;
  }
  section#main .container .main-title-text p {
    text-align: left;
    width: 400px;
  }
}

@media only screen and (min-width: 1140px) {
  header .container .logo-container {
    margin-right: 5%;
  }
  section#mid .container .product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  section#mid .container .product .product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#mid .container .product .product-card img {
    width: 190px;
  }
  section#mid .container .product .product-card h4 {
    font-size: 1em;
  }
  section#bottom .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1280px) {
  section#main .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section#main .container .main-title-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  section#main .container .main-title-text h2 {
    font-size: 3.7em;
  }
  section#main .container .main-title-text p {
    width: auto;
    max-width: 80%;
  }
  section#main .container .main-image {
    width: 700px;
    margin-left: 5%;
  }
  section#mid .container .section-title {
    left: 0px;
  }
  section#mid .container .product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#mid .container .product .product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#mid .container .product .product-card img {
    width: 190px;
  }
  section#mid .container a {
    right: 0px;
  }
}

@media only screen and (min-width: 1370px) {
  section {
    margin: 5% 0;
  }
  section#mid .container .product {
    padding: 2em 0;
  }
  section#mid .container .product .product-card img {
    width: 230px;
  }
}
/*# sourceMappingURL=main.css.map */